* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body, html {
    height: 100%;
}

/*HOME*/

.card-info {
    border-radius: 8px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background-color: pink;
    margin-top: 10%;
    width: 50% !important;
    align-items: center;
    opacity: 0;
    transform: scale(0.5);
    animation: imgAnim 2s ease-in-out forwards;
}


.series-cad, .usuario-cad {
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    background-color: white;
    flex: 1;
    text-align: center;
}


.box-img {
    margin-top: 0.2%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 2%;
}

.img-home {
    width: 10%;
    height: 10%;
    opacity: 0;
    transform: scale(0.5);
    animation: imgAnim 2s ease-in-out forwards;
}

@keyframes imgAnim {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.titulo-cadastro {
    color: pink; 
    margin-right: 100px; 
    font-weight: bold;
    animation: imgAnim 2s ease-in-out forwards;
}


.box {
    align-items: center;
    position: absolute;
    top: 40%;
    left: 19%;
    transform: translate (-50%, -50%);
    text-align: center;
    border-bottom: .7vw solid pink;
    ;
    overflow: hidden;
    animation: anim 2.5s linear forwards;
}

.box h1 {
    font-size: 10vw;
    color: pink;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

@keyframes anim {
    0% {
        width: 0;
        height: 0;
    }
    30% {
        width: 50%;
        height: 0;
    }
    60% {
        width: 60vw;
        height: 12vw;
    }
    80% {
        width: 60vw;
        height: 12vw;
    }
    100% {
        width: 60vw;
        height: 12vw;
    }
}

.navbar-nav-center {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: -5%;
}

.navbar-nav-center .nav-item {
    margin-left: 50px;
    margin-right: 15px;
    padding: 10px;
    font-weight: bold;
}

.logo-img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    border-radius: 10%;
}


main {
    min-height: 100vh;
    background-image: url('https://asset.gecdesigns.com/img/wallpapers/blue-purple-beautiful-scenery-ultra-hd-wallpaper-4k-sr10012421-1706505497434-cover.webp');
    background-size: cover;
    background-attachment: fixed;
}

.addseries {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.addseries input, .addseries button {
    margin-bottom: 10px;
    display: inline-block;
}

.addseries input {
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.addseries button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.series-item, .episode-item {
    background-color: rgb(172, 89, 103);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: left;
}

.series-item span, .episode-item span {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.series-item .episodeList {
    margin-top: 10px;
    margin-left: 20px;
}

.series-item button, .episode-item button {
    margin-right: 5px;
    margin-bottom: 5px;
}

.series-item .btn, .episode-item .btn {
    padding: 5px 10px;
    font-size: 12px;
}

.episode-item span.watched {
    text-decoration: line-through;
    color: #bbb;
}

.text-center {
    padding-top: 100px;
    color: pink;
    font-weight: bold;
}

.hide {
    transition: 1s;
    opacity: 0;
}

.show {
    transition: 1s;
    opacity: 1;
}

/*FIM DO HOME*/

/*INICO DA LISTA2*

.dataTables_wrapper .dataTables_paginate {
    float: right;
}


table.dataTable thead th {
    background-color: #c663cf;
    color: #fff; 
}

table.dataTable tbody tr:nth-child(odd) {
    background-color: #b885bd;
}

table.dataTable tbody tr:nth-child(even) {
    background-color: #e9ecef;
}

table.dataTable tbody tr:hover {
    background-color: #d1ecf1;
    color: #000;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    background-color: #9347a7;
    color: #fff !important;
    border: none;
    padding: 5px 10px;
    margin: 0 2px;
    cursor: pointer;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background-color: #a761ad;
    color: #fff !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background-color: #af6ca4;
    color: #fff !important;
}

FINAL DA LISTA2*/

/*INICIO DA LISTA 3*/

.tableTitle {
    color: pink;
    text-align: center;
    font-weight: bold;
    animation: imgAnim 2s ease-in-out forwards;
}

.table {
    display: flex;
    justify-content: center;
    place-items: center;
    height: 70vh;
    animation: imgAnim 2s ease-in-out forwards;
}

tr {
    font-size: 20px;
    height: 40px;
    background-color: rgb(123, 32, 141);
    color: white;
}

td {
    width: 250px;
    background: white;
    color: black;
    border: 2px solid black;
}

.edit-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 5px;
}

.delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.edit-btn:hover,
.delete-btn:hover {
    opacity: 0.8;
}

/*FINAL DA LISTA 3*/



/*RESPONSIVIDADE*/


@media (max-width: 1489px) {
    
    .box-img {
        margin-top: 2%;
        display: flex;
        justify-content: center;
      
    }
    
    .img-home {
        width: 15%;
        height: 15%;
        opacity: 0;
        transform: scale(0.5);
        animation: imgAnim 2s ease-in-out forwards;
    }
    
    @keyframes imgAnim {
        0% {
            opacity: 0;
            transform: scale(0.5);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
    
    
    .box {
        display: flex;
        align-items: center;
        margin-top: 370px;
        align-items: center;
        position: absolute;
        top: 40%;
        left: 19%;
        transform: translate (-50%, -50%);
        text-align: center;
        overflow-y: hidden;
    }
    
    .box h1 {
        margin-top: 20px;
        margin-left: 100px;
    }
    
    @keyframes anim {
        0% {
            width: 0;
            height: 0;
        }
        30% {
            width: 50%;
            height: 0;
        }
        60% {
            width: 60vw;
            height: 12vw;
        }
        80% {
            width: 60vw;
            height: 12vw;
        }
        100% {
            width: 60vw;
            height: 12vw;
        }
    }
    
    .navbar-nav-center {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-left: -5%;
    }
    
    .navbar-nav-center .nav-item {
        margin-left: 50px;
        margin-right: 15px;
        padding: 10px;
        font-weight: bold;
    }
    
    .logo-img {
        width: 50px;
        height: 50px;
        margin-left: 20px;
        border-radius: 10%;
    }
    

}

@media (max-width: 1227px) {
    .nav-link span {
        font-size: 0.1;
    }

    .addseries {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 986px) {
    .navbar-nav-center {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar-nav-center .nav-item {
        margin: 5px 0;
    }

    #nav-login {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    #nav-login .nav-item {
        margin-left: auto;
    }

    #dpi {
        text-align: center;
    }
    #navbarDropdownMenuLink {
        text-align: center;
    }
    .dropdown-menu {
        align-items: center;
    }
}

@media (max-width: 768px) {

    .card-info {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .navbar-nav-center {
        margin-left: -1%;
    }

    .box {
        display: none;
        margin: auto;
    }

    .img-home {
        margin-left: -34px;
        height: 50%;
        width: 50%;
    }

    .card-info {
        width: 300px;
        height: 300px;
    }



}

/*FINAL DA RESPONSIVIDADE*/