* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body, html {
    height: 100%;
}

.card-info {
    border-radius: 8px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    background-color: pink;
    margin-top: 10%;
    width: 50% !important;
    align-items: center;
    opacity: 0;
    transform: scale(0.5);
    animation: imgAnim 2s ease-in-out forwards;
}


.series-cad, .usuario-cad {
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    background-color: white;
    flex: 1;
    text-align: center;
}


.box-img {
    margin-top: 0.2%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 2%;
}

.img-home {
    width: 15%;
    height: 15%;
    opacity: 0;
    transform: scale(0.5);
    animation: imgAnim 2s ease-in-out forwards;
}

@keyframes imgAnim {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


.box {
    align-items: center;
    position: absolute;
    top: 40%;
    left: 19%;
    transform: translate (-50%, -50%);
    text-align: center;
    border-bottom: .7vw solid pink;
    ;
    overflow: hidden;
    animation: anim 2.5s linear forwards;
}

.box h1 {
    font-size: 10vw;
    color: pink;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

@keyframes anim {
    0% {
        width: 0;
        height: 0;
    }
    30% {
        width: 50%;
        height: 0;
    }
    60% {
        width: 60vw;
        height: 12vw;
    }
    80% {
        width: 60vw;
        height: 12vw;
    }
    100% {
        width: 60vw;
        height: 12vw;
    }
}

.navbar-nav-center {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-left: -5%;
}

.navbar-nav-center .nav-item {
    margin-left: 50px;
    margin-right: 15px;
    padding: 10px;
    font-weight: bold;
}

.logo-img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    border-radius: 10%;
}


main {
    min-height: 100vh;
    background-image: url('https://asset.gecdesigns.com/img/wallpapers/blue-purple-beautiful-scenery-ultra-hd-wallpaper-4k-sr10012421-1706505497434-cover.webp');
    background-size: cover;
    background-attachment: fixed;
}

.addseries {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}

.addseries input, .addseries button {
    margin-bottom: 10px;
    display: inline-block;
}

.addseries input {
    width: 30%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.addseries button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.series-item, .episode-item {
    background-color: rgb(172, 89, 103);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: left;
}

.series-item span, .episode-item span {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.series-item .episodeList {
    margin-top: 10px;
    margin-left: 20px;
}

.series-item button, .episode-item button {
    margin-right: 5px;
    margin-bottom: 5px;
}

.series-item .btn, .episode-item .btn {
    padding: 5px 10px;
    font-size: 12px;
}

.episode-item span.watched {
    text-decoration: line-through;
    color: #bbb;
}

.text-center {
    padding-top: 100px;
    color: pink;
    font-weight: bold;
}

.hide {
    transition: 1s;
    opacity: 0;
}

.show {
    transition: 1s;
    opacity: 1;
}

@media (max-width: 1227px) {
    .nav-link span {
        font-size: 0.1;
    }

    .addseries {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 986px) {
    .navbar-nav-center {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navbar-nav-center .nav-item {
        margin: 5px 0;
    }

    #nav-login {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    #nav-login .nav-item {
        margin-left: auto;
    }

    #dpi {
        text-align: center;
    }
    #navbarDropdownMenuLink {
        text-align: center;
    }
    .dropdown-menu {
        align-items: center;
    }
}